<div id="<%= dom_id department %>">
  <p>
    <strong>Название:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Главный врач:</strong>
    <%= department.doctor.name %>
  </p>

  <p>
    <strong>Вместимость:</strong>
    <%= department.capacity %>
  </p>

</div>
