<div id="<%= dom_id department %>">
  <p>
    <strong>Name:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= department.doctor.name %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= department.capacity %>
  </p>

</div>
