<p style="color: green"><%= notice %></p>

<h1>Отделения</h1>
<%= link_to "Создать отделение", new_department_path, class: "btn btn-outline-secondary" %>
<hr>
<div id="departments">
  <% @departments.each do |department| %>
    <h3><%= department.name %></h3>
    <%= link_to "Показать", department, class: "btn btn-primary" %>
    <hr>
  <% end %>
</div>