<p style="color: green"><%= notice %></p>

<h1>Пациенты</h1>
<hr>
<div id="patients">
  <% @patients.each do |patient| %>
    <h3><%= patient.name %></h3>
    <p>
      <%= link_to "Показать", patient, class: "btn btn-primary" %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "Создать пациента", new_patient_path, class: "btn btn-outline-secondary" %>
