<p style="color: green"><%= notice %></p>

<h1>Врачи</h1>
<hr>
<div id="doctors">
  <% @doctors.each do |doctor| %>
    <h3><%= doctor.name %></h3>
    <%= link_to "Показать", doctor, class: "btn btn-primary" %>
    <hr>
  <% end %>
</div>

<%= link_to "Создать врача", new_doctor_path, class: "btn btn-outline-secondary" %>
